<div style="margin: 2.5rem;">
    <h1 class="title">Revisiones</h1>

    <div class="header-container">
        <mat-form-field appearance="outline">
            <mat-label>Buscar por nombre</mat-label>
            <input matInput (keyup)="searchReview($event)" #input>
        </mat-form-field>

        <button class="btn-principal" type="submit" [routerLink]="['/administration', 'review', 'new']">
            Nueva revisión
        </button>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let review"> {{review.name}} </td>
        </ng-container>
    
        <!-- Client Column -->
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let review"> {{review.client}} </td>
        </ng-container>
    
        <!-- Edit Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let review" (click)="openDialog(review._id)"> 
                <mat-icon class="action" matTooltip="Editar">create</mat-icon> 
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

