
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    font-family: 'Roboto';
    font-weight: 500;
}

.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #050531;
    border: 1px solid #050531;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Roboto';
    font-weight: 400;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .submit:hover {
    background-color:#ff7e06;
    border: 1px solid #ff7e06;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
      width: 300px !important;
  }

  ::ng-deep .mdc-notched-outline > * {
    border-color: #050531 !important;
  }

  ::ng-deep .mat-mdc-form-field-label--focused {
    color: green;
  }

  ::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
    border-color: #ff7e06 !important;
  }

  ::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
    border-color: #f44336 !important;
  }


  