<div class="form-container">
    <form class="form" [formGroup]="loginForm" autocomplete="off">
        <p class="form-title">Iniciar Sesión</p>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ingresar email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error>Email incorrecto</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ingresar contraseña</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <button class="submit" type="submit" (click)="login()">
            Ingresar
        </button>

        <p class="signup-link">
            ¿No tienes una cuenta?
            <a href="">Registrate</a>
        </p>
    </form>
</div>