
<form [formGroup]="criterioDialogForm">
    <mat-dialog-content class="form-content">

        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-radio-group formControlName="enabled">
            <mat-label style="color: black;">Estado:</mat-label>
            <mat-radio-button [value]="true">Activo</mat-radio-button>
            <mat-radio-button [value]="false">Inactivo</mat-radio-button>
        </mat-radio-group>

      </mat-dialog-content>
</form>

<div style="padding: 20px 24px;">
  <dialog-form style="margin: 0 auto;" (newCriterioItem)="addCriterioItem($event)"/>
</div>

<criterio-dialog-table [idCriterio]="idCriterio"/>

<mat-dialog-actions class="form-actions">
  <button class="btn-principal" (click)="onClose()">Cancelar</button>
  <button class="btn-principal" (click)="onSubmitForm()">Guardar</button>
</mat-dialog-actions>
