<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" [ngStyle]="{ width: '250px'}">
    <mat-toolbar color="primary" style="background-color: #050531;">
      <span matTooltip="Proyecto gestión de auditoria">PGA</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-nav-list>
      @for (item of sidebarItems; track item) {
        <mat-list-item [routerLink]="item.url" (click)="sidenav.toggle()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </mat-list-item>
      }
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary" class="toolbar-content">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-icons">
      <div class="user">
        <mat-icon>account_circle</mat-icon> 
        <span>{{ user()?.username }}</span>
      </div>

      <div class="close-sesion" matTooltip="Cerrar sesión" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </div>
    </div>

  </mat-toolbar>

  <div class="container">

    <router-outlet/>

  </div>

</mat-sidenav-container>