<div class="form-container">
    <form class="form" [formGroup]="registerForm">
        <p class="form-title">Registrate</p>
        <div class="input-container">
            <input placeholder="Usuario" type="email" formControlName="username">
        </div>
        <div class="input-container">
            <input placeholder="Ingresar email" type="email" formControlName="email">
        </div>
        <div class="input-container">
            <input placeholder="Ingresar contraseña" type="password" formControlName="password">
        </div>
        <!--<div class="input-container">
            <input placeholder="Confirmar contraseña" type="password">
        </div>--> 
        <button class="submit" type="submit" (click)="register()">
            Registrar
        </button>

        <p class="signup-link">
           ¿Ya tienes una cuenta?
            <a [routerLink]="['../login']">Iniciar Sesión</a>
        </p>
    </form>
</div>