.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    font-family: 'Roboto';
    font-weight: 500;
}

.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #050531;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Roboto';
    font-weight: 400;
    width: 100%;
    border-radius: 0.5rem;
  }

  .submit:hover {
    background-color:#ff7e06;
    cursor: pointer;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 350px !important;
}

::ng-deep .mdc-notched-outline > * {
  border-color: #050531 !important;
}

::ng-deep .mat-mdc-form-field-label--focused {
  color: green;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: #ff7e06 !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: #f44336 !important;
}